main {
    display: block;
    overflow: auto;
}
.jumbotron {
    width: 100%;
    height: 103px;
    -webkit-filter: grayscale(100%);
    filter: gray;
    background: url('../../images/ros3.jpg') no-repeat;
    background-size: 100%;
    background-position: center center;
    position: relative;
}
.jumbotron--info-bar-desktop,
.jumbotron--info-bar-mobile {
    display: none;
}

.content {
    padding: 16px;
}

.left-section {
    width: 100%;
}
.left-section--first { 
    img {
        width: 100%;
    }
}
#map {
    height: 200px;
    width: 100%;
}

.right-section {
    display: none;
}
.wrapper {
    overflow: auto;
    margin: 0 auto;
    max-width: 770px;
}

@media screen and (min-width: 768px) {
    .jumbotron {
        width: 100%;
        height: 246px;
    }
    .jumbotron--info-bar-mobile {
        display: block;
        width: 100%;
        overflow: auto;
        background-color: RGBA(0, 0, 0, 0.5);
        position: absolute;
        bottom: 0;

        span {
            font-size: 0.8125rem;
            margin: 7px 20px;
            color: white;
        }
    }
    .content {
        padding: 20px;
    }
    .left-section {
        width: 495px;
        float: left;
        margin-right: 20px;
    }
    .left-section--first {
        img {
            width: 50%;
            float: right;
        }
        p {
            width: 50%;
            float: left;
        }
        @include clearfix;
    }
    .right-section {
        display: block;
        width: 213px;
        float: left;
    }

    .right-section--opening-hours,
    .right-section--phone,
    .right-section--email,
    .right-section--map {
        margin-top: 20px;
    }

    .wrapper {
        overflow: auto;
        margin: 0 auto;
    }
    
}

@media screen and (min-width: 1024px) { 
    .jumbotron {
        width: 100%;
        height: 328px;
    }
    .content {
        box-sizing: border-box;
        padding: 20px 30px;
        overflow: auto;
        background-color: RGBA(255, 255, 255, 0.9)
    }
    .left-section {
        margin-right: 40px;
    } 
    .left-section--first {
        img {
            width: 65%;
            float: right;
        }
        p {
            width: 35%;
            float: left;
        }
        @include clearfix;
    }
    .jumbotron--info-bar-mobile {
        display: none;
    }
    .jumbotron--info-bar-desktop {
        display: block;
        width: 100%;
        background-color: RGBA(0, 0, 0, 0.5);
        span {
            font-size: 0.8125rem;
            padding: 7px 30px;
            color: white;
        }
    }
    .wrapper {
        width: 808px;
        height: 100%;
        margin: 0 auto;
    }
    .wrapper--position {
        position: absolute;
        top: 302px;        
    }
    
}

@media screen and (min-width: 1900px) { 
    .jumbotron {
        height: 515px;
    }
    .wrapper--position {
        top: 448px;        
    } 
}